.dock {
  position: fixed;
  z-index: 3;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  align-items: flex-end;
  height: 58px;
  display: flex;
  padding: 10px;
  padding-bottom: 6px;
  gap: 12px;
  background-color: rgba(154, 152, 152, 0.92);
  will-change: contents;
  box-sizing: content-box;
  border-radius: 12px;
  //   transform-origin: center bottom;
}

@media (max-width: 992px) {
  .dock {
    padding: 2px;
    padding-bottom: 0px;
    height: 32px;
  }
}
