$blue: #2592db;
$yellow: #e6cd69;
$green: #9fca56;

// .banner-bg {
//   width: 100%;
//   height: 100%;
//   background-image: url("/img/mac.jpg");
//   background-size: cover;
//   background-position: center 65%;
//   position: relative;
//   z-index: 1;
// }

.overlayer {
  width: 100%;
  height: 100%;

  background-image: url("/img/mac.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  -webkit-overflow-scrolling: auto;
  .pd {
    min-width: 325px;
    min-height: 200px;
    background: black;
    border: 1px solid seashell;
    border-radius: 10px;
    position: absolute;
    padding: 5px 10px;
    z-index: 2;
    top: 45%;
    left: 52%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    .mac-btn {
      width: 100%;
      // height: 20px;
    }
    .codeArea {
      padding: 10px;
      span {
      }
    }
  }
}
.blue {
  color: $blue;
}
.yellow {
  color: $yellow;
}
.green {
  color: $green;
}
.orange {
  color: orange;
}

@media (max-height: 546px) {
  .overlayer {
    // background-size: contain;
    // background-repeat: no-repeat;
  }
  .pd {
    opacity: 0;
  }
  .codeArea {
    padding: 10px;
    span {
      font-size: 0.7rem;
    }
  }
}
