.circleBox {
  width: 100px;
  height: 100px;
  text-align: center;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.5rem;
}
#svg #circle {
  width: 100px;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #666;
  stroke-width: 0.6em;
}

#svg #bar {
  width: 100px;
  stroke: #feb03c;
  stroke-width: 0.6em;
}
