::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #4b5022;
}
::-webkit-scrollbar-thumb {
  background: #ffda16;
  border-radius: 10px;
}

.btn_container {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 70px;
  height: 40px;
  padding: 2px;
  border-radius: 20px;
  background-color: #eee;
  border: 2px solid #ccc;
  .darkImg {
    position: absolute;
    left: 10px;
    top: 7px;
  }
  .lightImg {
    position: absolute;
    right: 10px;
    top: 7px;
  }
  .none {
    display: none;
  }
}
.circle {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #aaa;
  border-radius: 50%;
  margin-left: 0;
  cursor: pointer;
  transition: all 0.3s;
}
.is-active.btn_container {
  background-color: Honeydew;
  // border-color: black;
}
.is-active .circle {
  background-color: black;
  margin-left: calc(100% - 32px);
}
