[data-theme="dark"] {
  .navbar_title:hover {
    padding: 10px;
    border-radius: 30px;
    background: lightseagreen;
  }
  .nav_select {
    background: lightseagreen;
  }
}

[data-theme="light"] {
  .navbar_title:hover {
    padding: 10px;
    border-radius: 30px;
    background: lightgray;
  }
  .nav_select {
    background: lightgray;
  }
}

.navbar_title {
  padding: 10px;
  border-radius: 30px;
  background: transparent;
  transition: 0.5s;
}

header {
  width: 100%;
  height: 7%;
  background: coral;
  position: fixed;
  top: 0;
  padding: 0px 30px;
  display: flex;
  z-index: 50;
}
.header_wrap {
  width: 100%;
  height: 100%;
  display: flex;
}
.header_left {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 50%;
}

.header_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  text-align: right;
}

@media screen and (max-width: 837px) {
  [data-theme="dark"] {
    .bars {
      color: black;
      background: #fff;
    }
    .navbar_title:active {
      h3 {
        background: lightseagreen;
      }
    }
    .navbar_title:hover {
      background: transparent;
      h3 {
        background: lightseagreen;
      }
    }
    .nav_select {
      background: transparent;
      h3 {
        background: lightseagreen;
      }
    }
  }

  [data-theme="light"] {
    .bars {
      color: white;
      background: black;
    }
    .navbar_title:hover {
      background: transparent;
      h3 {
        background: red;
      }
    }
    .navbar_title:active {
      h3 {
        background: red;
      }
    }

    .nav_select {
      background: transparent;
      h3 {
        background: red;
      }
    }
  }

  .navbar_title {
    background: transparent;
    transition: 0.5s;
    text-align: center;
    h3 {
      padding: 10px 0px;
    }
  }

  header {
    padding: 0;
  }
  .header_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
  }
  .bars {
    position: absolute;
    width: 50%;
    height: 100vh;
    top: 0;
    left: -100%;
  }
  .barsActive {
    animation: mobNavBarAnimation_out 1s forwards;
  }
  .barsDisable {
    animation: mobNavBarAnimation_in 1s forwards;
  }
  .icon_highlight:active {
    color: red;
  }
  .icon_x {
    margin-top: 10px;
    margin-right: 10px;
  }
  .icon_x:hover {
    color: red;
  }

  .svg_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
}

@keyframes mobNavBarAnimation_out {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes mobNavBarAnimation_in {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
