svg {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  cursor: pointor;
}

.info {
  width: 70%;
  text-align: center;
  color: #69b3a2;
  font-weight: 400;
  font-size: 40px;
}

svg text {
  pointer-events: none;
}
